[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pymysql = "*"
flask = "*"
flask-limiter = "*"
python-dotenv = "*"

[packages]
pymysql = "*"
flask = "*"
flask-limiter = "*"
python-dotenv = "*"
awsebcli = "*"

[requires]
python_version = "3.6"
